@{
    ViewBag.Title = "Departures for " + Model.RouteName;
}

    <h1>
        @Model.RouteName
    </h1>
    <h2>Departures</h2>
    <div data-bind="if: selectedRoute()">
        @Html.Partial("Departures")
    </div>

@section Scripts {
    @Scripts.Render("~/bundles/scripts")
    <script>
    (function ($, ko) {
        var routesApiUrl = '@Url.Action("RoutesJson", "DepartureApi")',
            departureApiUrl = '@Url.Action("DeparturesJson", "DepartureApi")';

        var model = new BusDepartureViewModel(routesApiUrl, departureApiUrl);
        ko.applyBindings(model);
        model.selectedRoute('@Model.RouteName');
    })($, ko);
    </script>
}