@model readingBuses.Models.RouteEditor


@*
    TODO 
- move model logic into row model
- that should let us to edit rows
    *@

@{
    ViewBag.Title = "Edit2";
}
<hr />
<h2>Route: <span data-bind="text: ID"></span></h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)

        <div>
            <label>Direction: </label>
            <select data-bind="options: directions,
                                optionsText: 'name',
                                optionsValue: 'value',
                                value: selectedDirection,
                                optionsCaption 'Choose...' "></select>
        </div>
        <h3>Stops</h3>
        <table>
            <thead>
                <tr>
                    <th>Service</th>
                    <th>Stop</th>
                    <th>Minutes to Location</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: targetStops">
                <tr>
                    <td>
                        <select data-bind="options: $parent.services, value: Service, valueAllowUnset: true, optionsCaption: 'Choose...'"></select>
                    </td>
                    <td data-bind="text: Name"></td>
                    <td data-bind="text: MinutesToLocation"></td>
                </tr>
            </tbody>
        </table>


        <div>
            <label>Service: </label>
            <select data-bind="options: services,
                                value: selectedService,
                                optionsCaption: 'Choose...'" autofocus></select>
        </div>
        <div>
            <label>Stop: </label>
            <select data-bind="options: stopsForService,
                           optionsText: 'Name',
                            value: selectedStop,
                            optionsCaption: 'Choose...'"></select>
            <button data-bind="click: selectNearest">Nearest</button>
            <p>Location ID <span data-bind="text: selectedStop() ? selectedStop().Id : 'Unknown'"></span></p>
        </div>
        <div>
            <label>Minutes to reach stop: </label>
            <input data-bind="value: minutesToStop"/>
        </div>

            @*need stop+minutes taken to reach stop, locationid, locn coord, services*@
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/routes")
    <script>
    (function ($, ko) {

        function RouteEditorViewModel(id, getServicesUri, getStopsForServiceUri, getRouteUri, saveRouteUri) {
            var self = this;

            self.ID = id;
            self.getServicesUri = getServicesUri;
            self.getStopsForServiceUri = getStopsForServiceUri;
            self.getRouteUri = getRouteUri;
            self.saveRouteUri = saveRouteUri;

            self.directions = ko.observableArray([{ name: 'Into Reading', value: 1 }, { name: 'Out of Reading', value: 0 }]);
            self.selectedDirection = ko.observable(1);

            self.services = ko.observableArray([]);
            self.selectedService = ko.observable();

            self.getServices = function () {
                self.services([]);
                var xhdr = $.getJSON(self.getServicesUri, {}
                    ).done(function () {
                        console.log("success");
                    }).done(function (data) {
                        $.each(data, function (key, value) {
                            self.services.push(value);
                        });
                        self.selectedService("");
                    }).fail(function () {
                        console.log("fail");
                    });
            };

            self.stopsForService = ko.observableArray([]);
            self.selectedStop = ko.observable();

            self.getStopsForService = function (service, direction) {
                self.stopsForService([]);
                service = service || '';
                if (service.length > 0) {
                    var xhdr = $.getJSON(self.getStopsForServiceUri, { service: service, direction: direction }
                        ).done(function () {
                            console.log("success");
                        }).done(function (servicePattern) {
                            if (servicePattern !== null) {
                                $.each(servicePattern.Locations, function (key, value) {
                                    var location = {
                                        Id: value.Id,
                                        Name: value.Name,
                                        Longitude: value.Longitude,
                                        Latitude: value.Latitude,
                                        Direction: value.Direction,
                                        DisplayOrder: value.DisplayOrder
                                    };
                                    self.stopsForService.push(location);
                                });
                            }
                            self.selectedStop("");
                        }).fail(function (jqXHR, textStatus, errorThrow) {
                            console.log("fail");
                        });
                 }
            };

            self.selectNearest = function () {
                var calcDistance = function (x, y) {
                    return Math.sqrt(Math.pow(x, 2) + Math.pow(y, 2));
                };

                if ("geolocation" in navigator) {
                    navigator.geolocation.getCurrentPosition(function (position) {
                        var lat = position.coords.latitude,
                            long = position.coords.longitude;

                        var closest = _.chain(self.stopsForService())
                            .map(function (location) {
                                return { 
                                    distance: calcDistance(location.Latitude - lat, location.Longitude - long),
                                    location: location
                                };
                            })
                            .sortBy(function(locDist) { 
                                return locDist.distance; 
                            })
                            .first()
                            .value();
                        
                        self.selectedStop(closest.location);
                    });
                }
            };

            self.minutesToStop = ko.observable(0);

            self.selectedService.subscribe(function (newValue) {
                console.log('selected service is ' + newValue);
                self.getStopsForService(newValue, self.selectedDirection());
            }, null, "change");

            self.selectedDirection.subscribe(function (newValue) {
                console.log('selected direction is ' + newValue);
                self.getStopsForService(self.selectedService(), newValue);
            }, null, "change");

            self.targetStops = ko.observableArray([]);
            self.selectedTargetStop = ko.observable("");

            self.getTargetStops = function (route) {
                self.targetStops([]);
                var xhdr = $.getJSON(self.getRouteUri, { name: route }
                    ).done(function () {
                        console.log("success");
                    }).done(function (stops) {
                        if (stops !== null) {
                            $.each(stops, function (key, value) {
                                var location = {
                                    Name: ko.observable(value.Name),
                                    MinutesToLocation: ko.observable(value.MinutesToLocation),
                                    LocationId: ko.observable(value.LocationId),
                                    Longitude: ko.observable(value.Longitude),
                                    Latitude: ko.observable(value.Latitude),
                                    Service: ko.observable(value.Services),
                                };
                                self.targetStops.push(location);
                            });
                        }
                        self.selectedTargetStop("");
                    }).fail(function (jqXHR, textStatus, errorThrow) {
                        console.log("fail");
                    });
            };

            self.currentTarget = null;
            self.editStop = function (data) {
                self.currentTarget = data;
            };
        }


        $(document).ready(function () {
            var getServicesUri = '@Url.Action("GetServicesJson", "RouteEditorApi")',
                getStopsForServiceUri = '@Url.Action("GetStopsForServiceJson", "RouteEditorApi")',
                getRouteUri = '@Url.Action("GetRoute", "RouteEditorApi")',
                saveRouteUri = '@Url.Action("SaveRoute", "RouteEditorApi")';
            ;

            var routeName = '@Html.ValueFor(model => model.ID)',
                model = new RouteEditorViewModel(routeName,
                        getServicesUri, getStopsForServiceUri, getRouteUri, saveRouteUri);
            ko.applyBindings(model);
            model.getServices();
            model.getTargetStops(routeName);
        });

    })($, ko);
    </script>
}
